    {{>nav}}

<div class="container">
 <h1>Rend your own Zombie</h1>
 <p>Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens. Pestilentia, shaun ofthe dead scythe animated corpses ipsa screams. Pestilentia est plague haec decaying ambulabat mortuos. Sicut zeder apathetic malus voodoo. Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife. Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.
</p>
<div class="flex-cont">
<div> 
    <h2>Package 1</h2>
    <img class="pack" src="images/pack1.jpg">
  <ul>
  <li>50$</li>
    <li>1 brains included</li>
    <li>2 hours</li>
    </ul>
</div>
<div>
    <h2>Package 2</h2>
        <img class="pack" src="images/pack2.jpg">
<ul>
    <li>90$</li>
    <li>3 brains included</li>
    <li>5 hours</li>
    </ul>
</div>
<div>
    <h2>Package 3</h2>
        <img class="pack" src="images/pack3.jpg">
<ul>
    <li>400$</li>
    <li>10 brains included</li>
    <li>  12 hours</li>
    </ul>
</div>
</div>
</div>

    {{>footer}}