body {
    margin: 0;
    height: 100vh;
}

.nav ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

.nav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.flex-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-cont div {
    width: 33%;
}

.nav {
    margin: 0;
    height: 50px;
    background-color: rgb(71, 2, 2);
}

.foot {
    position: absolute;
    margin-top: auto;
    width: 100%;
    background: red;
    margin: 0;
    padding: 14px 16px;
}

.index {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.index div {
    width: 50%;
}

.zombie {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pack {
    height: 250px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(71, 2, 2);
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 50px;
}