body {
    margin: 0;
    height: 100vh;
}

.nav ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

.nav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.flex-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-cont div {
    width: 33%;
}

.nav {
    margin: 0;
    height: 50px;
    background-color: rgb(71, 2, 2);
}

.foot {
    position: absolute;
    margin-top: auto;
    width: 100%;
    background: red;
    margin: 0;
    padding: 14px 16px;
}

.index {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.index div {
    /* padding: 50px; */
    width: 50%;
}

.zombie {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pack {
    height: 150px;
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 50px;
}